@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@500&display=swap');
.whole-page{
    background-color: rgb(155, 33, 33);
    text-align: center;
    max-width: 60%;
}

button{
    color: blueviolet;
    width: 20%;
    font-family: 'Playfair Display', serif;}

.main{
     

}   
