@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@500&family=Wix+Madefor+Text&display=swap');
body{
    text-align: center;
    font-family: 'Wix Madefor Text', sans-serif;

}



h2{
    background-color: azure;
}

input{
    padding: 7px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 30%;
    height: 40%;
    font-family: 'Wix Madefor Text', sans-serif;


}

select{
    padding: 7px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 40%;
}

input,select{
    margin: 15px;
}

.form{
    border-radius: 1px black;
    margin: auto;
    background-color: royalblue;
    color: antiquewhite9850;
    max-width: 40%;
    max-height: 30%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}
